

*{
  margin:0;
  padding: 0;
  
  font-family:sans-serif;
}    
body{
  min-height:100vh;
  background-image:url(./image/sautisol-images/sautisol03.jpg);
 /* width: 200px; */
  /* height: 100vh; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.navbar{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    padding:20px 100px;
    /* background: lightcoral; */
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    /* border: rgba(0,0,0,0); */
    /* border-bottom: 1px solid lightcoral; */

}

.navbar ul{
  list-style:none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar ul li a{
  line-height: 50px;
  font-family:"fira code";
  color: lightsalmon;
  padding: 12px 30px;
  text-decoration: none;
  font-size:20px;
  font-weight: 70px;
  text-transform: uppercase;
}

.navbar ul li a:hover{
  background: rgba(0,0,0,0,7);
  border-radius: 6px;
}

.image{
  width:400px;
  height:400px;
  background-image:url(./image/sautisol-images/sautisol01.png);
  /* margin-left: 100px;  */
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: top;


}
.about-polycarp{
  /* width: 50%; */
  /* position: absolute;
  top: 50%;
  transform: translateY(-45%); */
  text-align:"center";
  color:black;
}
.about-polycarp h1{
  font-family: "Cascadia mono";
  text-align: center;
  font-size:40px;
  font-style: italic;
  font-weight: 70px;
  /* margin-top: 80px; */
  text-decoration: underline;
}
.about-polycarp p{
  font-family: "optima";
  font-size:20px;
  text-indent:30px;
  color:yellow;
  margin: 20px auto;
  text-align:center;
  font-weight: 50px;
  line-height: 50px;
}







