/* *{
    margin:0;
    padding: 0;
    
    font-family:sans-serif;
}*/
 *{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "Poppins,sans-serif";
 }
 body{
    min-height:100vh;
    background-image:url(./image/sautisol-images/sautisol11.jpg);
   /* width: 200px; */
    /* height: 100vh; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 .navbar{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    padding:20px 100px;
    /* background: lightcoral; */
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    /* border: rgba(0,0,0,0); */
    /* border-bottom: 1px solid lightcoral; */
 }
 .navbar ul{
    list-style:none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
 }
 .navbar ul li a{
    line-height: 50px;
    font-family: "fira code";
    color:yellow;
    padding: 12px 30px;
    text-decoration: none;
    font-size:20px;
    font-weight: bold;
    text-transform: uppercase;
 }
 .navbar ul li a:hover{
    background: rgba(0,0,0,0,7);
    border-radius: 6px;

 }
 
.info{
    /* width: 50%; */
    position: absolute;
    top: 50%;
    transform: translateY(-45%);
    text-align:"center";
    color:black;
}
.info h1{
    font-family: "Cascadia mono";
    font-size:70px;
    color:lightcyan;
    text-align: center;
    font-style: italic;
    font-weight: 50px;
    margin-top: 80px;
    text-decoration: underline;
}
.info p{
    font-family:optima;
    font-size:25px;
    text-indent:30px;
    color:aqua;
    margin: 20px auto;
    text-align: center;
    font-weight: 50px;
    line-height: 40px;
}

